<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.interviotrial">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity_results"
            android:label="@string/title_activity_results" />
        <activity
            android:name=".activity_signUp"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".activity_view_scorecard"
            android:label="@string/title_activity_score_card" />
        <activity
            android:name=".activity_viewProfile"
            android:label="@string/title_activity_view_profile" />
        <activity
            android:name=".activity_mockInterview"
            android:label="@string/title_activity_mock_interview" />
        <activity
            android:name=".activity_instructions"
            android:label="@string/title_activity_instructions" />
        <activity
            android:name=".activity_company"
            android:label="@string/title_activity_company" />
        <activity
            android:name=".activity_home"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>